/* Reset some default styles */


/* Basic styles for the body */
.forget-pass {
    margin: 5%;
    justify-content:center ;
    margin-left: 40%;
}
/* Container styling */
.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Heading styling */
h1 {
    margin-bottom: 10px;
    color: #333;
}

/* Paragraph styling */
p {
    margin-bottom: 20px;
    color: #555;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
}

/* Label styling */
label {
    margin-bottom: 5px;
    color: #333;
}

/* Input styling */
input[type="email"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Button styling */
button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
